logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/public/static/css/main.*.css
/public/static/css/main.*.css.map
/public/static/js/main.*.js
/public/static/js/main.*.js.map
/public/static/js/main.*.js.LICENSE.txt
/public/index.html
/public/asset-manifest.json
/public/manifest.json